 <div class="panel panel-default">
        <div class="panel-heading">Boggle: Instrictions</div>
        <div class="panel-body">
        <ul>
            <li>Players have three minutes (shown by the count down timer) to find as many words as they can in the grid.</li>
            <li>The letters must be adjoining in a 'chain'. (Letter cubes in the chain may be adjacent horizontally, vertically, or diagonally.)</li>
            <li>Words must contain at least two letters.</li>
            <li>Once player select a letter, possible next letter will be suggested</li>
            <li>No letter cube may be used more than once within a single word.</li>
            <li>Score will be calculated only for unique valid words.</li>
            <li>You can view the definitions of valid words by clicking on it</li>
        </ul>
        </div>
    </div>
    </div>